$theme-colors: (
  primary: #d29380,
  secondary: #999999,
  success: #74a75e,
  info: #9b4143,
  warning: #f29726,
  danger: #f44336,
  light: #ddd,
  dark: #333,
);

$body-bg: #eae9e6;
$body-color: #9b4143;

@import "~bootstrap/scss/bootstrap";

a {
  color: $body-color;
  text-decoration: underline;

  &:hover {
    color: darken($body-color, 20%);
  }

  &.disabled {
    cursor: default;
    text-decoration: none !important;

    &:hover {
      color: inherit !important;
    }
  }
}

.block-inverse {
  background-color: $body-color;
  color: $body-bg;

  a {
    color: $body-bg;
    text-decoration: underline;

    &:hover {
      color: lighten($body-bg, 20%);
    }
  }
}

.hero {
  align-items: center;
  display: flex;
  min-height: 30vh;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;

    li {
      display: inline-block;

      a {
        background-color: darken($body-color, 20%);
        border-radius: 10px;
        // box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, .41);
        padding: 1rem 2rem;
        text-decoration: none;

        &.disabled {
          &:hover {
            background-color: darken($body-color, 20%);
          }
        }

        &:hover {
          background-color: darken($body-color, 25%);
        }
      }
    }

    li + li {
      margin-left: 2rem;
    }
  }
}

.sponsors {
  padding-top: 3rem;
  padding-bottom: 3rem;

  a {
    text-decoration: none;
  }

  a + a {
    margin-left: 3rem;
  }
}

h2 {
  background: linear-gradient(to right, $body-color 30%, $body-bg 80%);
  color: $body-bg;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.schedule {
  h2 {
    margin-bottom: 3rem;
  }

  dl {
    @include make-row();
  }

  dt {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(3);
      text-align: right;
    }

    @include make-col(12);

    color: #725f64;
    font-weight: normal;
  }

  dd {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(9);
    }

    @include make-col(12);
  }

  dt,
  dd {
    @include media-breakpoint-up(sm) {
      margin-top: 1rem;
    }

    a {
      color: inherit;

      &:hover {
        color: darken($body-color, 20%);
      }
    }

    .speaker {
      font-size: .9em;

      .speaker-company {
        color: lighten($body-color, 20%);
        &:before {
          content: '—';
        }
      }
    }

    &.pause {
      color: #725f64;
    }
  }

  h4 {
    font-size: inherit;
    font-weight: 600;
    margin-bottom: .1rem;
  }
}
